<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<httpRuntime executionTimeout="720" maxRequestLength="81920" useFullyQualifiedRedirectUrl="false" targetFramework="4.8" encoderType="System.Web.Security.AntiXss.AntiXssEncoder"/>
    <compilation debug="true" defaultLanguage="c#" batch="false" targetFramework="4.8">
      <assemblies>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      </compilation>
</configuration>